@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensanslight.woff") format("woff"),
       url("../fonts/opensanslight.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff") format("woff"),
       url("../fonts/opensans.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroylight.woff") format("woff"),
       url("../fonts/gilroylight.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroyextrabold.woff") format("woff"),
       url("../fonts/gilroyextrabold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

body {
  min-width: 1200px;
  margin: 0;

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #464646;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*--- Стилизация <header> на главной странице ---*/

.main-header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  box-sizing: border-box;

  width: 1160px;
  margin-top: 40px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 32px;
  padding-bottom: 122px; 
  padding-left: 60px;
  padding-right: 60px;

  color: #000000;
  background-color: rgba(240, 197, 46, 0.5);
}

.main-header a {
  color: #000000;
}

.main-header a:hover,
.main-header a:focus {
  opacity: 0.6;
}

.main-header a:active {
  opacity: 0.3;
}

.main-header-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  position: relative;

  margin-bottom: 30px;
}

.main-header-logo {
  position: absolute;
  top: -52px;
  left: 0px;
}

.main-header-search {
  display: flex;
  flex-wrap: wrap;

  position: relative;
}

.main-header-search label::before {
  content: "";

  position: absolute;
  top: 16px;
  left: 4px;

  width: 16px;
  height: 16px;

  background-image: url("../img/icon-search.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.search-field {
  box-sizing: border-box;

  width: 355px;

  padding-top: 16px;
  padding-bottom: 17px;
  padding-left: 40px;
  padding-right: 20px;

  background-color: transparent;
  border: none;
}

.search-field::placeholder {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.3);
}

.search-field:hover::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-field:focus::placeholder {
  color: #000000;
}

.search-button {
  display: none;

  box-sizing: border-box;

  width: 85px;

  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 10px;
  padding-right: 10px; 

  font: inherit;
  text-align: center;
  vertical-align: middle;
  color: #000000;

  background-color: rgba(240, 197, 46, 0.5);
  border: 2px solid #000000;

  cursor: pointer;
}

.search-button:hover,
.search-button:focus {
  display: block;
  color: #ffffff;
  background-color: #000000;
}

.search-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #000000;
}

.search-field:focus + .search-button {
  display: block;
}

.header-user-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header-user-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header-user-nav .login-link {
  position: relative;

  display: block;

  margin-right: 205px;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 28px;
  padding-right: 14px;
}

.header-user-nav .login-link::before {
  content: "";

  position: absolute;
  top: 20px;
  left: 8px;

  width: 13px;
  height: 12px;

  background-image: url("../img/icon-user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header-link-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.main-header-compare {
  position: relative;

  margin-right: 40px;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 0px;
}

.main-header-compare::before {
  content: "";

  position: absolute;
  top: 20px;
  left: 2px;

  width: 10px;
  height: 10px;

  background-image: url("../img/icon-compare.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.main-header-cart {
  position: relative;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 24px;
  padding-right: 0px;
}

.main-header-cart::before {
  content: "";

  position: absolute;
  top: 20px;
  left: 2px;

  width: 12px;
  height: 12px;

  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.site-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;

  text-transform: uppercase;
}

.site-nav-catalog {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  position: relative;
}

.site-nav-catalog .site-nav-link {
  margin-bottom: 40px;
  padding-right: 40px;

  letter-spacing: 3.6px;
}

.site-nav-catalog::before {
  content: "";

  position: absolute;
  top: 4px;
  left: 237px;

  width: 2px;
  height: 16px;

  background-color: rgba(0, 0, 0, 0.3);
}

.site-nav-catalog::after {
  content: "";

  position: absolute;
  top: 11px;
  left: 230px;

  width: 16px;
  height: 2px;

  background-color: rgba(0, 0, 0, 0.3);
}

.submenu-wrapper {
  display: none;

  position: absolute;
  top: 40px;
  left: -60px;
  z-index: 10;

  width: 1160px;

  background-color: #f7e296;
}

.site-nav-submenu {
  display: flex;
  flex-wrap: wrap;

  padding-bottom: 38px;
  padding-left: 60px;
}

.submenu-list {
  margin: 0;
  padding: 0;

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 36px;
  font-weight: 300;
  text-transform: none;

  list-style: none;
}

.site-nav-submenu .submenu-list:first-child {
  margin-right: 58px;
}

.site-nav-submenu .submenu-list:last-child {
  margin-left: 76px;
}

.site-nav-catalog:hover .submenu-wrapper,
.site-nav-catalog:focus .submenu-wrapper {
  display: block;
}

.site-nav-company {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;

  margin: 0;
  padding: 0;
  list-style: none;
}

.site-nav-company .site-nav-link {
  letter-spacing: 3.6px;
}

.site-nav-company li:first-child {
  margin-right: 34px;
}

.site-nav-company li:last-child {
  margin-left: 104px;
}

/*--- Стилизация <header> на странице каталога ---*/

.main-header-inner {
  padding-bottom: 10px;
}

.header-user-nav {
  display: flex;
  flex-wrap: wrap;
}

.header-user-nav .user-account {
  position: relative;

  display: block;

  margin-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 28px;
  padding-right: 0px;
}

.header-user-nav .user-account:before {
  content: "";

  position: absolute;
  top: 20px;
  left: 8px;

  width: 13px;
  height: 12px;

  background-image: url("../img/icon-user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header-user-nav .logout-link {
  display: block;

  margin-right: 65px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0px;
  padding-right: 0px;

  color: rgba(0, 0, 0, 0.3);
}

/*--- Стилизация <main> на главной странице ---*/

.section-container {
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
}

.promo-slider {
  position: relative;
}

.promo-slider-controls {
  position: absolute;
  top: 224px;
  right: 80px;
}

.promo-slider-controls .promo-slider-button {
  position: relative;

  width: 22px;
  height: 22px;

  margin: 0;
  padding: 0;

  background-color: transparent;
  border: none;

  cursor: pointer;
}

.promo-slider-controls .promo-slider-button::before {
  content: "";

  position: absolute;
  top: 2px;
  left: 2px;

  width: 12px;
  height: 12px;

  background-color: transparent;
  border: 1px solid #000000;
  border-radius: 50%;
}

.promo-slider-controls .active::after {
  content: "";

  position: absolute;
  top: 6px;
  left: 6px;

  width: 4px;
  height: 4px;
  border: 1px solid #000000;
  border-radius: 50%;
}

.promo-slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.promo-slider-item {
  display: none;
}

.promo-slider-item:nth-child(1) {
  display: block;
}

.promo-slider-item .item-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  min-height: 486px;
}

.promo-slider-image {
  position: relative;
  top: -100px;

  margin: 0;
  padding: 0;

  width: 600px;
}

.promo-slider-image img {
  position: absolute;
  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%);
}

.promo-slider-wrapper {
  position: relative;
  top: -32px;

  width: 560px;
}

.promo-slider-wrapper::before {
  content: "";

  position: absolute;
  top: -50px;
  left: 0px;

  width: 100px;
  height: 7px;

  background-color: #ffffff;
}

.promo-slider-item .slide-counter {
  position: absolute;
  top: -90px;
  right: 48px;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 180px;
  line-height: 180px;
  font-weight: 800;

  color: #ffffff;
}

.promo-slider-item .slide-title {
  margin: 0;
  padding: 0;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  line-height: 56px;
  font-weight: 800;

  color: #000000;
}

.promo-slider-item .slide-title-first {
  width: 394px;

  margin-bottom: 30px;
}

.promo-slider-item .slide-title-second {
  width: 258px;

  margin-bottom: 30px;
}

.promo-slider-item .slide-text {
  margin: 0;
  margin-bottom: 50px;
  padding: 0;

  text-align: left;
}

.promo-slider-item .slide-text-first {
  width: 480px;
}

.promo-slider-item .slide-text-second {
  width: 440px;
}

.promo-slider-item .slide-text-third {
  width: 450px;
}

.button-yellow {
  display: block;
  box-sizing: border-box;

  width: 220px;

  padding-top: 8px;
  padding-bottom: 8px;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3.6px;

  color: #000000;
  background-color: transparent;
  background-image: linear-gradient(transparent 40%, #f0c52e 40%, #f0c52e 60%, transparent 60%);
  border: 0;

  cursor: pointer;
}

.button-yellow:hover,
.button-yellow:focus {
  color: #000000;
  background-image: none;
  background-color: #f0c52e;
}

.button-yellow:active {
  color: rgba(0, 0, 0, 0.3);
  background-image: none;
  background-color: #f0c52e;
}

.slide-item-features {
  display: flex;
  flex-wrap: wrap;

  margin-top: 40px;
}

.item-features-wrapper {
  display: flex;
  flex-direction: column-reverse;
}

.slide-item-features .feature-name {
  font-size: 13px;
  line-height: 20px;
  text-align: left;
}

.slide-item-features .feature-description {
  margin: 0;
  margin-right: 80px;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 36px;
  line-height: 48px;
  font-weight: 300;
}

.catalog-sections {
  margin-bottom: 180px;
}

.catalog-sections .sections-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin: 0;
  padding: 0;

  list-style: none;
}

.sections-list .section-item {
  display: block;
  width: 160px;
}

.section-item-image {
  position: relative;

  margin: 0;
  padding: 0;

  min-height: 160px;

  background-color: rgba(240, 197, 46, 0.5);
}

.section-item-image img {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

.section-item h3 {
  margin: 0;
  margin-top: 36px;
  padding: 0;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
  text-align: left;
}

.section-item:hover .section-item-image,
.section-item:focus .section-item-image {
  background-color: #f0c52e;
}

.section-item:active .section-item-image {
  background-color: #f0c52e;
}

.section-item:active img {
  opacity: 0.3;
}

.section-item:active h3 {
  color: rgba(0, 0, 0, 0.3);
}

.services-slider {
  margin-bottom: 94px;
  padding-bottom: 90px;
  background-color: #e5e5e5;
}

.services-slider-wrapper {
  position: relative;

  width: 1160px;

  margin-left: auto;
  margin-right: auto;
}

.services-slider-controls {
  position: absolute;
  top: -20px;
  left: 0px;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  width: 400px;
}

.services-slider-controls::after {
  content: "";

  position: absolute;
  top: -60px;
  left: 278px;

  width: 7px;
  height: 320px;

  background-color: #000000;
}

.services-slider-button {
  width: 278px;

  text-align: left;
}

.services-slider-button:active {
  color: #f7e184;
  background-color: #000000;
  background-image: none;
}

.services-slider-button.active {
  color: #f7e184;  
  background-color: #000000;
  background-image: none;
}

.services-slider-button:nth-child(1) {
  padding-left: 23px;
}

.services-slider-button:nth-child(2) {
  padding-left: 29px;
}

.services-slider-button:nth-child(3) {
  padding-left: 37px;
}

.services-slider-list {
  margin: 0;
  padding: 0;
  padding-left: 400px;

  list-style: none;
}

.services-slider-item {
  position: relative;
  top: -28px;

  display: none;

  padding-bottom: 20px;
}

.services-slider-item-1 { 
  display: block;
}

.services-slider-item-1 {
  background-image: url("../img/slider-delivery.svg");
  background-repeat: no-repeat;
  background-position: 566px 12px;
}

.services-slider-item-2 {
  background-image: url("../img/slider-guarantee.svg");
  background-repeat: no-repeat;
  background-position: 540px -12px;
}

.services-slider-item-3 {
  background-image: url("../img/slider-credit.svg");
  background-repeat: no-repeat;
  background-position: 530px -10px;
}

.services-slider-item .slide-title {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  color: #000000;
  text-align: left;
}

.services-slider-item .slide-text {
  margin: 0;
  padding: 0;

  width: 426px;
}

.popular-brands {
  margin-bottom: 152px;
}

.brands-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin: 0;
  padding: 0;
  list-style: none;
}

.brand-item-1:hover img,
.brand-item-1:focus img {
  background-image: url("../img/logo-1-1.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.brand-item-2:hover img,
.brand-item-2:focus img {
  background-image: url("../img/logo-2-1.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.brand-item-3:hover img,
.brand-item-3:focus img {
  background-image: url("../img/logo-3-1.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.brand-item-4:hover img,
.brand-item-4:focus img {
  background-image: url("../img/logo-4-1.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.company-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.company-info {
  position: relative;

  width: 560px;
}

.company-info::before {
  content: "";

  position: absolute;
  top: -57px;
  left: 0px;

  width: 80px;
  height: 7px;

  background-color: #000000;
}

.company-info h2,
.company-contact h2 {
  margin: 0;
  margin-bottom: 58px;
  padding: 0;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  color: #000000;
  text-align: left;
}

.company-info p {
  width: 472px;

  margin: 0;
  margin-bottom: 30px;
  padding: 0;
}

.company-info .transport-list {
  margin: 0;
  margin-top: 56px;
  margin-bottom: 70px;
  padding: 0;
  padding-left: 40px;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: 800;
  color: #000000;
  text-align: left;

  list-style: none;
}

.transport-list li {
  position: relative;
}

.transport-list li::before {
  content: "";

  position: absolute;
  top: 16px;
  left: -40px;

  width: 4px;
  height: 4px;

  border: 2px solid #e5e5e5;
  border-radius: 50%;
}

.button-yellow-company {
  width: 260px;
}


.company-contact {
  position: relative;

  width: 560px;
}

.company-contact::before {
  content: "";

  position: absolute;
  top: -57px;
  left: 0px;

  width: 80px;
  height: 7px;

  background-color: #000000;
}

.company-contact p {
  width: 512px;

  margin: 0;
  margin-bottom: 44px;
  padding: 0;
}

.company-contact img {
  display: block;
  margin-bottom: 70px;
}

/*--- Стилизация <main> на странице каталога ---*/

.page-title-wrapper {
  box-sizing: border-box;

  width: 1160px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 60px;
}

.catalog-page .page-title {
  margin: 0;
  margin-top: 44px;
  margin-bottom: 28px;
  padding: 0;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  color: #000000;
  text-align: left;
}

.catalog-page .breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  margin: 0;
  margin-bottom: 48px;
  padding: 0;

  list-style: none;
}

.breadcrumbs li {
  position: relative;

  margin-right: 42px;
}

.breadcrumbs li:last-child {
  margin-right: 0;
}

.breadcrumbs li::after {
  content: "";

  position: absolute;
  top: 14px;
  right: -21px;

  width: 4px;
  height: 7px;

  background-image: url("../img/breadcrumbs-arrow.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.breadcrumbs li:last-child::after {
  display: none;
}

.breadcrumbs a {
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active {
  color: rgba(0, 0, 0, 0.1);
}

.breadcrumbs .breadcrumbs-current:hover,
.breadcrumbs .breadcrumbs-current:focus,
.breadcrumbs .breadcrumbs-current:active {
  color: rgba(0, 0, 0, 0.3);
}

.catalog-page-container {
  background-image: 
    linear-gradient(to right, #ebebeb 31.3%, transparent 31.3%),
    linear-gradient(to right, transparent 31.3%, #ebebeb 31.3%),
    linear-gradient(to right, #d9d9d9 31.3%, transparent 31.3%);
  background-size: 
    100% 100%,
    100% 70px,
    100% 70px;
  background-position: 
    0 70px, 
    0 0,
    0 0;
  background-repeat: no-repeat;
  background-color: #ffffff;
}

.page-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  box-sizing: border-box;
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
}

.page-top .filters-title {
  box-sizing: border-box;
  width: 327px;

  margin: 0;
  padding: 0;
  padding-top: 24px;
  padding-bottom: 22px;
  padding-left: 60px;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
  letter-spacing: 3.2px;
  text-align: left;
  text-transform: uppercase;

  background-color: #d9d9d9;
}

.page-top .sort-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  box-sizing: border-box;
  width: 833px;
}

.page-top .sort-title {
  margin: 0;
  margin-right: 55px;
  padding: 0;
  padding-top: 24px;
  padding-bottom: 22px;
  padding-left: 74px;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
  letter-spacing: 3.2px;
  text-align: left;
  text-transform: uppercase;
}

.sort-kind {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;
  list-style: none;
}

.sort-kind a {
  display: block;

  padding-top: 26px;
  padding-bottom: 26px;

  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
}

.sort-kind a:hover,
.sort-kind a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.sort-kind a:active {
  color: #000000;
}

.sort-kind .sort-price {
  margin-right: 28px;
}

.sort-kind .sort-type {
  margin-right: 30px;
}

.sort-kind .sort-price-current {
  color: #000000;
}

.sort-kind .sort-price-current:hover,
.sort-kind .sort-price-current:focus,
.sort-kind .sort-price-current:active {
  color: #000000;
}

.sort-updown {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;

  margin: 0;
  padding: 0;
  padding-top: 28px;
  list-style: none;
}

.sort-updown .sort-up {
  display: block;

  width: 11px;
  height: 10px;

  background-image: url("../img/icon-dir-up.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.2;
}

.sort-updown .sort-down {
  display: block;

  width: 11px;
  height: 10px;

  margin-left: 20px;

  background-image: url("../img/icon-dir-down.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.sort-updown a:hover,
.sort-updown a:focus {
  opacity: 0.4;
}

.sort-updown a:active {
  opacity: 1;
}

.sort-updown .sort-down-current:hover,
.sort-updown .sort-down-current:focus,
.sort-updown .sort-down-current:active {
  opacity: 1;
}

.page-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  box-sizing: border-box;

  width: 1160px;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
}

.page-bottom .filter-form {
  box-sizing: border-box;

  width: 327px;
  padding-left: 60px;
}

.filter-form-item {
  position: relative;

  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  border: none;
}

.filter-form-item::before {
  content: "";

  position: absolute;
  top: -16px;
  left: 0px;

  width: 200px;
  height: 2px;

  background-color: #000000;
}

.filter-form-item legend {
  margin-top: 16px;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
  text-align: left;
}

.filter-range {
  width: 200px;
}

.range-controls {
  position: relative;

  height: 26px;
  margin-bottom: 2px;
  padding-top: 24px;
}

.range-controls .scale {
  height: 2px;
  background-color: #dbdbdb;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background-color: #91c92f;
}

.range-controls .price-toggle {
  position: absolute;
  top: 14px;

  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  border-radius: 50%;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;

  cursor: pointer;
}

.range-controls .price-toggle-min {
  left: -2px;
}

.range-controls .price-toggle-max {
  left: 120px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;

  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.2);
}

.price-controls input[value] {
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.2);
}

.price-controls input,
.price-controls input {
  box-sizing: border-box;
  width: 80px;

  padding-right: 10px;
  background-color: #ebebeb;
  border: none;
}

.filter-list {
  width: 200px;

  margin: 0;
  padding: 0;

  list-style: none;
}

.filter-option {
  padding-left: 40px;
}

.filter-option label {
  position: relative;

  display: block;

  font-size: 14px;
  line-height: 40px;
  color: #000000;

  cursor: pointer;
  user-select: none;
<<<<<<< HEAD
}

.filter-input-checkbox + label::before {
  content: "";

  position: absolute;
  top: 10px;
  left: -40px;

  width: 19px;
  height: 19px;

  border: 2px solid #000000;
  border-radius: 2px;
}

.filter-input-checkbox:checked + label::after {
  content: "";

  position: absolute;
  top: 10px;
  left: -40px;

  width: 27px;
  height: 23px;

  background-image: url("../img/icon-checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio + label::before {
  content: "";

  position: absolute;
  top: 10px;
  left: -40px;

  width: 17px;
  height: 17px;

  border: 4px solid #000000;
  border-radius: 50%;
}

.filter-input-radio:checked + label::after {
  content: "";

  position: absolute;
  top: 18px;
  left: -32px;

  width: 9px;
  height: 9px;

  background-color: #000000;
  border-radius: 50%;
}

.filter-input:hover + label::before,
.filter-input:checked:hover + label::after {
  opacity: 0.6;
}
.filter-input:focus + label::before,
.filter-input:checked:focus + label::after {
  opacity: 0.6;
  border-color: #663d15;
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.filter-input:active + label::before,
.filter-input:checked:active + label::after {
  opacity: 1;
=======
>>>>>>> 83207ab0774221d49d722ba4711549d1f9ec2875
}

.filter-input:disabled + label {
  color: #a6a6a6;
  pointer-events: none;
}

.filter-input:disabled + label::before,
.filter-input:disabled:hover + label::before,
.filter-input:disabled:focus + label::before,
.filter-input:checked:disabled + label::after,
.filter-input:checked:disabled:hover + label::after,
.filter-input:checked:disabled:focus + label::after {
  opacity: 0.25;
}

.filter-form-button {
  width: 200px;
}

.page-bottom .catalog {
  box-sizing: border-box;

  padding-left: 74px;

  width: 833px;
}

.catalog .catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin: 0;
  padding: 0; 
  list-style: none;
}

.catalog-list .catalog-item {
  position: relative;

  box-sizing: border-box;
  width: 360px;
  margin-bottom: 46px;
}

.catalog-list .catalog-item-new::before {
  content: "";

  position: absolute;
  top: 28px;
  right: 28px;

  width: 60px;
  height: 61px;

  border: 2px solid #000000;
  border-radius: 50%;

  opacity: 0.1;
}

.catalog-list .catalog-item-new::after {
  content: "new";

  position: absolute;
  top: 50px;
  right: 43px;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  color: rgba(205, 57, 68, 0.1);
}

.catalog-item .catalog-item-actions {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;

  display: none;

  width: 360px;
  padding-top: 172px;
  padding-bottom: 122px;

  background-color: rgba(238, 238, 238, 0.7);
}

.catalog-item:hover .catalog-item-actions {
  display: block;
}

.button-yellow-actions {
  width: 200px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

.button-compare-actions {
  display: block;
  box-sizing: border-box;

  width: 200px;
  margin-left: auto;
  margin-right: auto;

  font-size: 13px;
  line-height: 36px;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

.button-compare-actions:hover,
.button-compare-actions:focus {
  color: #000000;
}

.button-compare-actions:active {
  color: rgba(0, 0, 0, 0.2);
}

.catalog-item .item-image {
  margin: 0;
  padding: 0;

  width: 360px;
  height: 380px;
  background-color: #ebebeb;
}

.item-title-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin-top: 34px;
}

.catalog-item h3 {
  margin: 0;
  padding: 0;
}

.catalog-item .item-title {
  display: block;
  box-sizing: border-box;
  width: 252px;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
  text-align: left;
}

.catalog-item .item-price {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  color: #464646;
  text-align: right;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  margin-bottom: 76px;
  padding: 0;
  list-style: none;

  background-color: #ebebeb;
}

.pagination-prev a,
.pagination-next a {
  display: block;

  box-sizing: border-box;

  width: 136px;
  padding-top: 22px;
  padding-bottom: 22px;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 3.2px;
  color: #000000;
  text-align: center;
}

.pagination-prev a:hover,
.pagination-prev a:focus,
.pagination-next a:hover,
.pagination-next a:focus {
  background-color: #d9d9d9;
}

.pagination-prev a:active,
.pagination-next a:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #d9d9d9;
}

.pagination-item a {
  display: block;

  box-sizing: border-box;

  margin-right: 30px;
  padding-top: 22px;
  padding-bottom: 22px;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 3.2px;
  color: rgba(0, 0, 0, 0.3);
  text-align: left;
}

.pagination-item a:hover,
.pagination-item a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.pagination-item a:active {
  color: #000000;
}

.pagination-item-current a {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 3.2px;
  color: #000000;
  text-align: left;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  color: #000000;
}

.pagination-item-first {
  margin-left: auto;
}

.pagination-item-last {
  margin-right: auto;
}

/*--- Стилизация <footer> на главной странице ---*/

.main-footer {
  margin-top: 98px;
  padding-top: 64px;
  padding-bottom: 66px;

  color: #ffffff;
  background-color: #464646;
}

.main-footer-container {
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
}

.main-footer a {
  color: #ffffff;
}

.main-footer-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin-bottom: 40px;
}

.main-footer-logo:hover,
.main-footer-logo:focus {
  opacity: 0.6;
}

.main-footer-logo:active {
  opacity: 0.3;
}

.footer-top-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.footer-user-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-user-nav .login-link {
  position: relative;

  display: block;

  margin-right: 40px;
  padding-bottom: 14px;
  padding-left: 28px;
}

.footer-user-nav .login-link::before {
  content: "";

  position: absolute;
  top: 10px;
  left: 2px;

  width: 13px;
  height: 12px;

  background-image: url("../img/icon-user-footer.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.footer-top-wrapper .main-footer-compare {
  position: relative;

  margin-right: 40px;
  padding-left: 28px;
}

.footer-top-wrapper .main-footer-compare::before {
  content: "";

  position: absolute;
  top: 10px;
  left: 2px;

  width: 10px;
  height: 10px;

  background-image: url("../img/icon-compare-footer.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.footer-top-wrapper .main-footer-cart {
  position: relative;

  padding-left: 28px;
}

.footer-top-wrapper .main-footer-cart::before {
  content: "";

  position: absolute;
  top: 10px;
  left: 2px;

  width: 12px;
  height: 12px;

  background-image: url("../img/icon-cart-footer.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.main-footer-top a {
  color: rgba(255, 255, 255, 0.7);
}

.main-footer-top a:hover,
.main-footer-top a:focus {
  color: #ffffff;
}

.main-footer-top a:active {
  color: rgba(255, 255, 255, 0.3);
}

.main-footer-top a:hover::before,
.main-footer-top a:focus::before {
  opacity: 0.6;
}

.main-footer-top a:active::before {
  opacity: 0.3;
}

.main-footer-middle {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin-bottom: 70px;
}

.main-footer-address {
  margin: 0;
  padding: 0;
}

.footer-site-nav {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  list-style: none;
}

.footer-site-nav .site-nav-link {
  display: block;
  margin-right: 38px;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  text-align: left;
}

.footer-site-nav .site-nav-link-last {
  margin-right: 0;
}

.footer-site-nav .site-nav-link:hover,
.footer-site-nav .site-nav-link:focus {
  color: rgba(255, 255, 255, 0.6);
}

.footer-site-nav .site-nav-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.main-footer-phone {
  margin: 0;
  padding: 0;
}

.main-footer-bottom {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.main-footer-bottom::before {
  content: "";

  position: absolute;
  top: 20px;
  left: 0px;

  width: 80px;
  height: 7px;

  background-color: #ffc600;
}

.main-footer-socials {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  margin-left: 530px;
  padding: 0;
  list-style: none;
}

.main-footer-socials li {
  padding-right: 22px;
}

.main-footer-socials li:last-child {
  padding-right: 0px;
}

.button-social {
  display: block;
  box-sizing: border-box;

  width: 32px;
  height: 32px;

  border-radius: 50%;

  opacity: 0.3;
}

.button-social-fb {
  background-image: url("../img/icon-fb.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.button-social-ig {
  background-image: url("../img/icon-ig.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.button-social-tw {
  background-image: url("../img/icon-tw.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.button-social:hover,
.button-social:focus {
  opacity: 0.6;
}

.button-social:active {
  opacity: 0.1;
}

.logo-html-link {
  margin-left: auto;
}

.logo-html-link:hover img,
.logo-html-link:focus img {
  opacity: 0.6;
}

.logo-html-link:active img {
  opacity: 0.3;
}

/*--- Стилизация <footer> на странице каталога ---*/

.main-footer-catalog {
  margin-top: 0;
}

.footer-user-nav {
  display: flex;
  flex-wrap: wrap;
}

.footer-user-nav .user-account {
  display: block;

  margin-right: 20px;
  padding-left: 28px;
}

.footer-user-nav .logout-link {
  display: block;

  margin-right: 44px;

  color: rgba(255, 255, 255, 0.3);
}

/*--- Стилизация модальных окон ---*/

.modal {
  position: fixed;
  z-index: 30;

  display: none;

  background-color: #ffffff;
}

.modal-message {
  top: 10px;
  left: 50%;

  box-sizing: border-box;

  width: 960px;

  margin-left: -480px;
  padding-top: 82px;
  padding-bottom: 76px;
  padding-left: 100px;
  padding-right: 100px;

  box-shadow: 0 10px 20px 0 rgba(4, 6, 6, 0.2);
}

.modal-message-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.modal-message-form p {
  margin: 0;
  padding: 0;
  padding-bottom: 36px;
}

.modal-message-form label {
  display: block;

  margin-bottom: 10px;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
  text-align: left;
}

.modal-message-form input {
  box-sizing: border-box;
  width: 360px;
  
  padding-top: 16px;
  padding-bottom: 17px;
  padding-left: 20px;
  padding-right: 20px;

  background-color: #f2f2f2;
  border: none;
}

.modal-message-form textarea {
  box-sizing: border-box;
  width: 760px;
  height: 156px;

  padding-top: 18px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;

  background-color: #f2f2f2;
  border: none;
}

.modal-message-form input::placeholder,
.modal-message-form textarea::placeholder {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: rgba(70, 70, 70, 0.4);
  text-align: left;
}

.modal-message-form input:hover::placeholder,
.modal-message-form textarea:hover::placeholder {
  color: rgba(70, 70, 70, 0.4);
}

.modal-message-form input:focus::placeholder,
.modal-message-form textarea:focus::placeholder {
  color: #464646;
}

.modal-message-form input:hover,
.modal-message-form textarea:hover {
  background-color: #eaeaea;
}

.modal-message-form input:focus,
.modal-message-form textarea:focus {
  background-color: #ffffff;
  border: 3px solid rgba(240, 197, 46, 0.5);
  outline: none;
}

.button-message-form {
  width: 200px;
}

.modal-close {
  position: absolute;
  top: 22px;
  right: 22px;

  width: 55px;
  height: 55px;

  font-size: 0;

  background-color: rgba(240, 197, 46, 0.5);
  border: 0;
  border-radius: 50%;

  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";

  position: absolute;
  top: 26px;
  left: 13px;

  width: 30px;
  height: 2px;

  background-color: #ffffff;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.modal-close:hover,
.modal-close:focus {
  background-color: rgba(240, 197, 46, 1);
}

.modal-close:active {
  background-color: rgba(240, 197, 46, 0.3);
}

.modal-map {
  top: 50%;
  left: 50%;

  box-sizing: border-box;
  width: 960px;
  height: 559px;

  margin-top: -280px;
  margin-left: -480px;

  background-color: #565656;
  box-shadow: 0 10px 20px 0 rgba(4, 6, 6, 0.2);
}

.modal-map p {
  margin: 0;
}