@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensanslight.woff") format("woff"),
       url("../fonts/opensanslight.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff") format("woff"),
       url("../fonts/opensans.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroylight.woff") format("woff"),
       url("../fonts/gilroylight.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroyextrabold.woff") format("woff"),
       url("../fonts/gilroyextrabold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

body {
  min-width: 1200px;
  margin: 0;

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #464646;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

/*--- Стилизация <header> на главной странице ---*/

.main-header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  box-sizing: border-box;

  width: 1160px;
  margin-top: 40px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 32px;
  padding-bottom: 122px; 
  padding-left: 60px;
  padding-right: 60px;

  color: #000000;
  background-color: rgba(240, 197, 46, 0.5);
}

.main-header a {
  color: #000000;
}

.main-header a:hover,
.main-header a:focus {
  opacity: 0.6;
}

.main-header a:active {
  opacity: 0.3;
}

.main-header-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  position: relative;

  margin-bottom: 30px;
}

.main-header-logo {
  position: absolute;
  top: -52px;
  left: 0px;
}

.main-header-search {
  display: flex;
  flex-wrap: wrap;
}

.search-field {
  box-sizing: border-box;

  width: 355px;

  padding-top: 16px;
  padding-bottom: 17px;
  padding-left: 40px;
  padding-right: 20px;

  background-color: transparent;
  border: none;
}

.search-field::placeholder {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.3);
}

.search-field:hover::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-field:focus::placeholder {
  color: #000000;
}

.search-button {
  display: none;

  box-sizing: border-box;

  width: 85px;

  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 10px;
  padding-right: 10px; 

  font: inherit;
  text-align: center;
  vertical-align: middle;
  color: #000000;

  background-color: rgba(240, 197, 46, 0.5);
  border: 2px solid #000000;

  cursor: pointer;
}

.search-button:hover,
.search-button:focus {
  color: #ffffff;
  background-color: #000000;
}

.search-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #000000;
}

.search-field:focus + .search-button {
  display: block;
}

.header-user-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header-user-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header-user-nav .login-link {
  display: block;

  margin-right: 205px;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 28px;
  padding-right: 14px;
}

.header-link-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.main-header-compare {
  margin-right: 40px;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 0px;
}

.main-header-cart {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 24px;
  padding-right: 0px;
}

.site-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;

  text-transform: uppercase;
}

.site-nav-catalog {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  position: relative;
}

.site-nav-catalog .site-nav-link {
  margin-bottom: 40px;

  letter-spacing: 3.6px;
}

.submenu-wrapper {
  display: none;

  position: absolute;
  top: 40px;
}

.site-nav-submenu {
  display: flex;
  flex-wrap: wrap;

  width: 1000px;
}

.submenu-list {
  margin: 0;
  padding: 0;

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 36px;
  font-weight: 300;
  text-transform: none;

  list-style: none;
}

.site-nav-submenu .submenu-list:first-child {
  margin-right: 58px;
}

.site-nav-submenu .submenu-list:last-child {
  margin-left: 76px;
}

.site-nav-catalog .site-nav-link:hover + .submenu-wrapper,
.site-nav-catalog .site-nav-link:focus + .submenu-wrapper {
  display: block;
}


.site-nav-company {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;

  margin: 0;
  padding: 0;
  list-style: none;
}

.site-nav-company .site-nav-link {
  letter-spacing: 3.6px;
}

.site-nav-company li:first-child {
  margin-right: 34px;
}

.site-nav-company li:last-child {
  margin-left: 104px;
}

/*--- Стилизация <main> на главной странице ---*/

.promo-slider-list {
  list-style: none;
}

.promo-slider-item .slide-counter {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 180px;
  line-height: 180px;
  font-weight: 800;

  color: #ffffff;
  background-color: rgba(240, 197, 46, 0.5); /*временно*/
}

.promo-slider-item .slide-title {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  line-height: 56px;
  font-weight: 800;

  color: #000000;
}

.promo-slider-item .slide-text {
  text-align: left;
}

.button-yellow {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  letter-spacing: 3.6px;

  color: #000000;
  background-color: #ffffff;
  border: none;
}

.button-yellow:hover,
.button-yellow:focus {
  color: #000000;
  background-color: #f0c52e;
}

.button-yellow:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #f0c52e;
}

.slide-item-features .feature-name {
  font-size: 13px;
  line-height: 20px;
  text-align: left;
}

.slide-item-features .feature-description {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 36px;
  line-height: 48px;
  font-weight: 300;
}

.catalog-sections .sections-list {
  list-style: none;
}

.section-item h3 {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
  text-align: left;
}

.section-item img {
  background-color: rgba(240, 197, 46, 0.5);
}

.section-item:hover img,
.section-item:focus img {
  background-color: #f0c52e;
}

.section-item:active img {
  opacity: 0.3;
  background-color: #f0c52e;
}

.section-item:active h3 {
  color: rgba(0, 0, 0, 0.3);
}

.services-slider {
  background-color: #e5e5e5;
}

.services-slider-button:active {
  color: #f7e184;
  background-color: #000000;
}

.services-slider-list {
  list-style: none;
}

.services-slider-item .slide-title {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  color: #000000;
  text-align: left;
}

.brands-list {
  list-style: none;
}

.brand-item-1:hover img,
.brand-item-1:focus img {
  background-image: url("../img/logo-1-1.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.brand-item-2:hover img,
.brand-item-2:focus img {
  background-image: url("../img/logo-2-1.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.brand-item-3:hover img,
.brand-item-3:focus img {
  background-image: url("../img/logo-3-1.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.brand-item-4:hover img,
.brand-item-4:focus img {
  background-image: url("../img/logo-4-1.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.company-info h2,
.company-contact h2 {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  color: #000000;
  text-align: left;
}

.company-info .transport-list {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: 800;
  color: #000000;
  text-align: left;

  list-style: none;
}

/*--- Стилизация <main> на странице каталога ---*/

.catalog-page .page-title {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  color: #000000;
  text-align: left;
}

.catalog-page .breadcrumbs {
  list-style: none;
}

.breadcrumbs a {
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active {
  color: rgba(0, 0, 0, 0.1);
}

.breadcrumbs .breadcrumbs-current:hover,
.breadcrumbs .breadcrumbs-current:focus,
.breadcrumbs .breadcrumbs-current:active {
  color: rgba(0, 0, 0, 0.3);
}

.filters-title {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
  letter-spacing: 3.2px;
  text-align: left;
  text-transform: uppercase;
}

.filter-form-item {
  border: none;
}

.filter-form-item legend {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
  text-align: left;
}

.price-controls label {
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.2);
}

.price-controls input[value] {
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.2);
}

.filter-list {
  list-style: none;
}

.filter-option label {
  font-size: 14px;
  line-height: 40px;
  color: #000000;
}

.filter-input:disabled + label {
  color: #a6a6a6;
}

.sort-title {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
  letter-spacing: 3.2px;
  text-align: left;
  text-transform: uppercase;
}

.sort-kind {
  list-style: none;
}

.sort-kind a {
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
}

.sort-kind a:hover,
.sort-kind a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.sort-kind a:active {
  color: #000000;
}

.sort-kind .sort-price-current {
  color: #000000;
}

.sort-kind .sort-price-current:hover,
.sort-kind .sort-price-current:focus,
.sort-kind .sort-price-current:active {
  color: #000000;
}

.sort-updown {
  list-style: none;
}

.catalog .catalog-list {
  list-style: none;
}

.catalog-item-actions .button-compare {
  font-size: 13px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

.catalog-item-actions .button-compare:hover,
.catalog-item-actions .button-compare:focus {
  color: #000000;
}

.catalog-item-actions .button-compare:active {
  color: rgba(0, 0, 0, 0.2);
}

.catalog-item .item-title {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
  text-align: left;
}

.catalog-item .item-price {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  color: #464646;
  text-align: right;
}

.pagination-list {
  list-style: none;
}

.pagination-prev a,
.pagination-next a {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 3.2px;
  color: #000000;
  text-align: left;
  background-color: #ebebeb;
}

.pagination-prev a:hover,
.pagination-prev a:focus,
.pagination-next a:hover,
.pagination-next a:focus {
  background-color: #d9d9d9;
}

.pagination-prev a:active,
.pagination-next a:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #d9d9d9;
}

.pagination-item a {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 3.2px;
  color: rgba(0, 0, 0, 0.3);
  text-align: left;
  background-color: #ebebeb;
}

.pagination-item a:hover,
.pagination-item a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.pagination-item a:active {
  color: #000000;
}

.pagination-item-current a {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 3.2px;
  color: #000000;
  text-align: left;
  background-color: #ebebeb;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  color: #000000;
}

/*--- Стилизация <footer> на главной странице ---*/

.main-footer {
  color: #ffffff;
  background-color: #464646;
}

.main-footer a {
  color: #ffffff;
}

.main-footer-logo:hover,
.main-footer-logo:focus {
  opacity: 0.6;
}

.main-footer-logo:active {
  opacity: 0.3;
}

.footer-user-nav {
  list-style: none;
}

.main-footer-top a {
  color: rgba(255, 255, 255, 0.7);
}

.main-footer-top a:hover,
.main-footer-top a:focus {
  color: #ffffff;
}

.main-footer-top a:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-site-nav {
  list-style: none;
}

.footer-site-nav .site-nav-link {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 3.6px;
  text-align: left;
}

.footer-site-nav .site-nav-link:hover,
.footer-site-nav .site-nav-link:focus {
  color: rgba(255, 255, 255, 0.6);
}

.footer-site-nav .site-nav-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.main-footer-socials {
  list-style: none;
}

.logo-html-link:hover img,
.logo-html-link:focus img {
  opacity: 0.6;
}

.logo-html-link:active img {
  opacity: 0.3;
}

/*--- Стилизация модальных окон ---*/

.modal-message-form label {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
  text-align: left;
}

.modal-message-form input::placeholder,
.modal-message-form textarea::placeholder {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: rgba(70, 70, 70, 0.4);
  text-align: left;
}

.modal-message-form input:hover::placeholder,
.modal-message-form textarea:hover::placeholder {
  color: rgba(70, 70, 70, 0.4);
}

.modal-message-form input:focus::placeholder,
.modal-message-form textarea:focus::placeholder {
  color: #464646;
}